# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environment
.env
env.yml
.venv

# Misc
.wrangler
.claude
CLAUDE.md

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (if using npm/bundler for frontend)
node_modules/
